[Desktop Entry]
Type=Application
Name=Camera
Icon=meego-app-camera
Exec=invoker --type=l meego-qml-launcher --opengl --fullscreen --app meego-app-camera
