[Desktop Entry]
Type=Application
Name=Camera
Name[qps]=Çàmérà
Icon=meego-app-camera
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-camera
X-MEEGO-CORE-UX=true
ACER-CATEGORY=Favorites
